@model Student_Management_System.Models.StudentViewModel;

@{
    ViewData["Title"] = "Create Student";
}

<h2>Create New Student</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Student.FirstName"></label>
        <input asp-for="Student.FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Student.LastName"></label>
        <input asp-for="Student.LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Student.Email"></label>
        <input asp-for="Student.Email" class="form-control" type="email" />
    </div>

    <div class="form-group">
        <label asp-for="Student.Gender"></label>
        <select asp-for="Student.Gender" class="form-control">
            <option>Male</option>
            <option>Female</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Student.DOB"></label>
        <input asp-for="Student.DOB" class="form-control"
               type="date"
               min="1980-01-01"
               max="9999-12-31"
               value="@Model.Student.DOB.ToString("yyyy-MM-dd")"
               required />
    </div>


    <div class="form-group">
        <label asp-for="Student.Phone"></label>
        <input asp-for="Student.Phone" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Student.Address"></label>
        <input asp-for="Student.Address" class="form-control" />
    </div>


    <div class="form-group">
    <label>Department</label>
    <select asp-for="Student.DepartmentID"
            asp-items="@(new SelectList(Model.AllDepartments, "DepartmentID", "DepartmentName"))"
            class="form-control">
        <option value="">-- Select Department --</option>
    </select>
    </div>


    <div class="form-group">
        <label asp-for="Student.EnrollmentDate"></label>
        <input asp-for="Student.EnrollmentDate" class="form-control"
               type="date"
               min="1980-01-01"
               max="9999-12-31"
               value="@Model.Student.EnrollmentDate.ToString("yyyy-MM-dd")"
               required />
    </div>


    <div class="form-group">
        <label>Courses</label>
        <select asp-for="SelectedCourseIds"
                asp-items="@(new MultiSelectList(Model.AllCourses, "CourseID", "CourseName"))"
                class="form-control" multiple>
        </select>
    </div>

   

    <button type="submit" class="btn btn-success">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
